#root {
  margin: 0 auto;
  text-align: center;
}

header {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: auto;
}

main {
  max-width: 100vw;
  padding-top: 4rem;
}

button {
  margin: 5px;
}
input {
  margin: 5px;
}

table {
  width: 100vw;
}